body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.hero,
.footer {
    padding: 10px 160px;
}

.hero,
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FaF8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 85px 0px;  
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.subtext {
    margin: 2px 0px 12px;
}

.hero-text {
    flex: 1;
}

.placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.4;
    max-width: 500px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border-radius: 6px;
    padding: 8px 32px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin: 0px;
    padding: 10px 0px; 
    display: flex;
    flex-direction: column;
}

.context,
.quote-banner,
.sign-banner {
    flex: 1;
    min-height: 300px;
}

h3 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.main,
.img-subtext,
.card {
    box-sizing: border-box;
}

.img {
    border: 4px rgb(119, 119, 231) solid;
    border-radius: 10%;
    width: 9vw;
    padding-bottom: 9vw;
}

.img-subtext {
    color: grey;
    /*used calc function to make text and squares exactly match up*/
    width: calc(9vw + 8px);
    padding: 4px 0px;
}

.card {
    text-align: center;
    padding-top: 20px;
}

.main {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 56px;
    padding-bottom: 20px;
}

.quote-banner {
    background-color: #e5e7eb;
    margin: 0px;
    padding: 10px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.sign-up button {
    border: 0px white solid;
}

