body {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', Georgia, sans-serif;
}

.hero,
.body,
.footer {
    padding: 10px 150px;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FaF8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}