body {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', Georgia, sans-serif;
}

.hero,
.body,
.footer {
    padding: 10px 160px;
}

.hero,
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FaF8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 85px 0px;  
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.subtext {
    margin: 2px 0px 12px;
}

.hero-text {
    flex: 1;
}

.placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.4;
    max-width: 500px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    border-radius: 6px;
    padding: 8px 32px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up button {
    border: 0px white solid;
}
